$accent-color: #2ecc71;
$warning-color: #ffeeba;
$white: #FFF;

$container-width: 1280px;

$body-bg: #f5f5f7;

$button-text-color: $white;

$card-bg: $white;
$card-text-color: #8a8a8a;
$card-hover-text-color: $white;
$card-font-size: 150px;

$winner-text-color: $white;


body {
  background: $body-bg;
  font: 18px/30px Lato, sans-serif;
}
.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(15rem, auto));
  padding: 2rem;
  margin: auto;
  max-width: $container-width;
}
.container__card {
  align-items: center;
  background: $card-bg;
  border: 4px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: $card-text-color;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;

  .container__card--value {
    font-size: $card-font-size;
    span {
      color: $card-hover-text-color;
    }
  }

  &:hover {
    background: lighten( $accent-color, 10% );
    transform: scale(1.1);
    border-color: $accent-color;
    color: $card-hover-text-color;
    outline: none;
  }
}

.container__winner {
  align-items: center;
  background: lighten( $accent-color, 10% );
  border-color: $accent-color;
  color: $winner-text-color;
  display: flex;
  font-size: $card-font-size;
  grid-column: 1/-1;
  justify-content: center;
}

.btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: .375rem .75rem;
  text-align: center;
  white-space: nowrap;
}

.btn--success {
  color: #fff;
  background-color: lighten( $accent-color, 10% );
  border-color: $accent-color;
}

.alert {
  border: 1px solid transparent;
  border-radius: .25rem;
  display: flex;
  left: 0;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  position: relative;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}
.alert--success {
  color: $button-text-color;
  background-color: lighten( $accent-color, 10% );
  border-color: $accent-color;
}

.alert--warning {
  background-color: lighten( $warning-color, 10% );
  border-color: $warning-color;
  color: #856404;
}

.navbar {
  align-items: center;
  background: $white;
  border-bottom: 4px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .navbar__logo {
    background: $accent-color;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
  }
}